.assignmentlistwrapper .listfilter
{
    text-align: left;
    margin-bottom: 30px;
}
.assignmentlistwrapper .projectitem-col
{
    min-height: 290px;
}
.assignmentlistwrapper .assignmentitem-grid
{
    margin-bottom: 20px;
}
.assignmentlistwrapper .assignmentlabel-col
{
    text-align: right;
    display: none;
}
.assignmentlistwrapper .assignmentvalue-col
{
    text-align: left;
    padding-bottom: 10px;
}
.assignmentlistwrapper .assignmentlogo
{
    height: auto; 
    width: auto; 
    max-width: 210px; 
    max-height: 75px;
}