.assignmentlistwrapper .projectitem-col
{
    min-height: 280px;
}
.assignmentlistwrapper .assignmentitem-grid
{
    margin-bottom: 20px;
}
.assignmentlistwrapper .assignmentlabel-col
{
    text-align: right;
    display: none;
}
.assignmentlistwrapper .assignmentvalue-col
{
    text-align: left;
    padding-bottom: 10px;
}
.assignmentlistwrapper .assignmentlogo
{
    max-width: 100px;
}