.header
{
    padding-top:20px;
    padding-bottom:100px;
    padding-left: 13pt;
    padding-right: 13pt;
}
@media (min-width: 1200px) {
    .header
    {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.photo-border
{
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
@media (min-width: 650px) {
    .photo-border
    {
        width: 300px;
        height: 300px;
    }
}
.photo-border .photo
{
    width: 100%;
    height: 100%;
}
.header-anouncearea
{
    padding-top: 80px;
}
.header-person-anouncement
{
    margin-bottom: 30px;
    font-size: 35px;
}
@media (min-width: 650px) {
    .header-person-anouncement
    {
        font-size: 45px;
    }
}
.nav-col
{
    padding-top: 100px;
}
@media (min-width: 650px) {
    .header H1
    {
        font-size: 60px;
    }
}
