.header
{
    padding-top:20px;
    margin-bottom:100px;
}
.mainheaderarea
{
    border-top: solid 1px #002355;
    padding-top: 15px;
    margin-top: 15px;
    border-bottom: solid 1px #002355;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.background
{
    background-color: rgba(238,209,47,0.5);
}
.header .photo-border
{
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
@media (min-width: 480px) {
    .header .photo-border
    {
        margin-bottom: 30px;
        margin-right: 10%;
    }
}
@media (min-width: 640px) {
    .header .photo-border
    {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 1024px) {
    .header .photo-border
    {
        width: 300px;
        height: 300px;
    }
}
@media (min-width: 480px) {
    .title-col
    {
        text-align: left;
    }
}
.header .titleimage
{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
@media (min-width: 480px) {
    .header .titleimage
    {
        margin-top: 45px;
        margin-left: 10%;
    }
}
@media (min-width: 640px) {
    .header .titleimage
    {
        margin-top: 60px;
        width: 200px;
    }
}
@media (min-width: 1024px) {
    .header .titleimage
    {
        margin-top: 60px;
        width: 300px;
    }
}
.header .pagenav
{
    margin-top: 125px;
}
@media (min-width: 641px) {
    .header H1
    {
        font-size: 50px;
    }
}
