.app-wrapper
{
  text-align: center;
  color: #002355;
}
.headerWrapper
{
  position: absolute;
  width: 100%;
  top: 0;
}
.pageBody
{
  margin-top: 1000px;
}
.app-wrapper BUTTON
{
  /* color is overwritten by Office UI Fabric button styles */
  background-color: #002355;
  color: white;
}
.app-wrapper BUTTON:hover
{
  background-color: #002355;
}
