.app-wrapper
{
  text-align: center;
  color: #002355;
}
.pageBody
{
  margin-top: 1200px;
}
.app-wrapper BUTTON
{
  /* color is overwritten by Office UI Fabric button styles */
  background-color: #002355;
  color: white;
}
.app-wrapper BUTTON:hover
{
  background-color: #002355;
}
